button
	font: bold 12px Arial, sans-serif
	color: rgba(0, 0, 0, 0.8)
	text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5)
	display: inline-block
	outline: none
	cursor: pointer
	padding: 0.4em 1em 0.5em
	border-radius: 0.3em
	border: 1px solid
	border-color: #bbbbbb #a2a2a2 #888888
	background-color: #eee
	background-size: 100%
	background-image: linear-gradient(#eeeeee, #d4d4d4)
	box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset
	transition: all 100ms

	&:hover
		background-image: linear-gradient(#ccc, #eee)
	
	&:active
		padding: 0.4em 2em 0.4em
		margin-top: 0.1em
		border-color: #a2a2a2 #bbbbbb #eee
		background-size: 100%
		background-image: linear-gradient(#e1e1e1, #eeeeee)
		box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset
		transition: all 10ms