.game
	text-align: center
	display: flex
	justify-content: space-around
	clear: both

	.guesses 
		font: 80px verdana
		color: #802626
		margin-top: 30px
		cursor: default
		overflow: auto

	.number
		display: block
		margin-top: 10px
		transition: font-size 0.5s linear

		&.correct
			color: lime

		&.incorrect
			color: red

		&:nth-last-child(1)
			font-size: 100%

		&:nth-last-child(2)
			font-size: 60%

		&:nth-last-child(3)
			font-size: 40%

		&:nth-last-child(n+4)
			font-size: 10%

	img
		width: 25%
		cursor: pointer
