@import 'login'
@import 'userInfo'

header
	text-align: center
	color: #CD5C5C
	margin: 10px
	box-sizing: border-box

	h1
		margin: 0
		font-size: 4em

	> div
		float: left
		width: 33%

		&.left
			text-align: left

		&.mid
			text-align: mid

		&.right
			text-align: right

.score
	color: lime

	&.negative
		color: red