.login
	input
		margin-bottom: 8px
		padding: 8px
		border-radius: 3px
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4), 0 -1px 1px #fff, 0 1px 0 #fff
		height: 25px
		display: block
		outline: none

		&:focus
			box-shadow: inset 1px 1px 6px yellow, inset -1px -1px 6px yellow, 0 -1px 1px #fff, 0 1px 0 #fff

	button
		width: 50%

		&:nth-of-type(1)
			border-radius: 5px 0 0 5px

		&:nth-of-type(2) 
			border-radius: 0 5px 5px 0

