.modal

	&.modal-overlay
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px
		background-color: rgba(240, 240, 240, 0.1)
		background-size: 16px 16px

	&.modal-content
		position: absolute;
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

		background-color: white
		border-radius: 5px
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
		padding: 40px

body.showingModal #react-mount
	filter: blur(5px) grayscale(50%)