<!DOCTYPE html>
<html>
	<head>
		<title>HiLo</title>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="react-mount"><%- html %></div>
		<script src="bundle.js"></script>
	</body>
</html>